@using Microsoft.MobileBlazorBindings
@using Microsoft.MobileBlazorBindings.Elements
@using Xamarin.Essentials
@using Xamarin.Forms
@using MelbourneBlazorXamarin.Core.ViewModels


<ContentPage>
    <ScrollView>

    <StackLayout BackgroundColor="Color.Green"  >


        @if (VM.Items == null || VM.Items.Count == 0)
        {
            <Label Text="Loading..."></Label>
        }
        else
        {
           
            @foreach (var presenter in VM.Items)
            {
                <Grid BackgroundColor="Color.Blue" HeightRequest="200" Margin="5" ColumnDefinitions="*, Auto" RowDefinitions="*, *">
                    <GridCell RowSpan="2"><Image Source="@presenter.ImageUrl" /></GridCell>
                    <GridCell Column="1"><Label Text="@presenter.Name"></Label></GridCell>
                    @*<GridCell>@presenter.Description</GridCell>
                    <GridCell>@presenter.TwitterHandle</GridCell>*@
                    <GridCell Column="1" Row="1"><Button Text="edit" OnClick="@(() => VM. OpenPresenter(presenter))"></Button></GridCell>
                </Grid>
            }
        }
    </StackLayout>
    </ScrollView>

</ContentPage>
