@using Microsoft.MobileBlazorBindings
@using Microsoft.MobileBlazorBindings.Elements
@using Xamarin.Essentials
@using Xamarin.Forms
@using MelbourneBlazorXamarin.Core.ViewModels

@page "/presenters"

<ContentView>

    <StackLayout Orientation="StackOrientation.Horizontal" >

        <Label Text="Presenters"></Label>

        <Label Text="Presenters and Melbourne Meetup."></Label>

        @if (VM.Items == null || VM.Items.Count == 0)
        {
            <Label Text="Loading..."></Label>
        }
        else
        {
            <Grid>
                <GridCell><Label Text="Picture"></Label></GridCell>
                <GridCell><Label Text="Name" /></GridCell>
                <GridCell><Label Text="Blurb" /></GridCell>
                <GridCell><Label Text="Twitter" /></GridCell>
                <GridCell></GridCell>
            </Grid>
            @foreach (var presenter in VM.Items)
            {
                <Grid>
                    <GridCell><img src="@presenter.ImageUrl" class="circle-image" /></GridCell>
                    <GridCell>@presenter.Name</GridCell>
                    <GridCell>@presenter.Description</GridCell>
                    <GridCell>@presenter.TwitterHandle</GridCell>
                    <GridCell><Button Text="edit" OnClick="@(() => VM. OpenPresenter(presenter))"></Button></GridCell>
                </Grid>
            }
        }
    </StackLayout>

</ContentView>
