@page "/presenters/new"
@inject NavigationManager NavigationManager

<h1>New Presenter</h1>

<p>@VM.ValidationMessage</p>

<EditForm Model="@VM" OnSubmit="Submit">

    <div class="center">
        <MatTextField @bind-Value="@VM.Name" Label="Name"></MatTextField>
    </div>
    <div class="center">
        <MatTextField Label="Description" id="description" @bind-Value="@VM.Description" />
    </div>

    <div class="center">
        <MatTextField id="name" Label="Image Url" @bind-Value="@VM.ImageUrl" />
    </div>
    <div class="center">

        <img src="@VM.ImageUrl" class="circle-image" />
    </div>

    <div class="center">
        <MatButton Raised="true" type="submit">Save</MatButton>
    </div>
</EditForm>

@code
{
    private ItemDetailViewModel VM = new ItemDetailViewModel();

    public async Task Submit()
    {
        var saved = await VM.Save();
        if(saved)
        {
            //navigate
            NavigationManager.NavigateTo("/fetchdata");
        }
    }
}
