@page "/presenters"
@page "/"

@using MelbourneModernApp.Core.Models

<h1>Presenters</h1>

<p>Presenters and Melbourne Meetup.</p>

@if (VM.Items == null || VM.Items.Count == 0)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr class="presenter-table-header">
                <th>Picture</th>
                <th>Name</th>
                <th>Blurb</th>
                <th>Twitter</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var presenter in VM.Items)
            {
                <tr>
                    <td>
                        <CustomImage Source="@presenter.ImageUrl" Circle="true">
                        </CustomImage>
                    </td>
                    <td>@presenter.Name</td>
                    <td>@presenter.Description</td>
                    <td>@presenter.TwitterHandle</td>
                    <td><MatIconButton Icon="@MatIconNames.Accessibility" OnClick="@(() => VM. OpenPresenter(presenter))"></MatIconButton></td>
                </tr>
            }
        </tbody>
    </table>
}

